# Analiza najbolj dragocenih nogometašev

Na tej datoteki bo potekala analiza o najbolj dragocenih nogometašev, pridobljenih s pomočjo datoteke *Transfermarkt.py*.

In [3]:
import pandas as pd
pd.options.display.max_rows = 20

In [29]:
osnovni_podatki = pd.read_csv("podatki/nogometasi.csv")

In [30]:
osnovni_podatki

,ime,pozicija,starost,drzava_1,drzava_2,klub,cena,stevilna_cena_eur
0,Lamine Yamal,Right Winger,18,Spain,Equatorial Guinea,FC Barcelona,€200.00m,20000000000
1,Jude Bellingham,Attacking Midfield,22,England,Ireland,Real Madrid,€180.00m,18000000000
2,Erling Haaland,Centre-Forward,25,Norway,NaN,Manchester City,€180.00m,18000000000
3,Kylian Mbappé,Centre-Forward,26,France,Cameroon,Real Madrid,€180.00m,18000000000
4,Vinicius Junior,Left Winger,25,Brazil,Spain,Real Madrid,€170.00m,17000000000
...,...,...,...,...,...,...,...,...
494,Facundo Buonanotte,Attacking Midfield,20,Argentina,Italy,Brighton &amp; Hove Albion,€20.00m,2000000000
495,Wesley,Right-Back,21,Brazil,NaN,AS Roma,€20.00m,2000000000
496,Chris Rigg,Attacking Midfield,18,England,NaN,Sunderland AFC,€20.00m,2000000000
497,Vitor Roque,Centre-Forward,20,Brazil,NaN,Sociedade Esportiva Palmeiras,€20.00m,2000000000
498,Thierno Barry,Centre-Forward,22,France,Guinea,Everton FC,€20.00m,2000000000

In [32]:
osnovni_podatki[['ime', 'klub']]

                    ime                           klub
0          Lamine Yamal                   FC Barcelona
1       Jude Bellingham                    Real Madrid
2        Erling Haaland                Manchester City
3         Kylian Mbappé                    Real Madrid
4       Vinicius Junior                    Real Madrid
..                  ...                            ...
494  Facundo Buonanotte     Brighton &amp; Hove Albion
495              Wesley                        AS Roma
496          Chris Rigg                 Sunderland AFC
497         Vitor Roque  Sociedade Esportiva Palmeiras
498       Thierno Barry                     Everton FC

[499 rows x 2 columns]

In [33]:
osnovni_podatki.starost <= 20

0       True
1      False
2      False
3      False
4      False
       ...
494     True
495    False
496     True
497     True
498    False
Name: starost, Length: 499, dtype: bool

In [34]:
osnovni_podatki[osnovni_podatki.starost <= 20]

,ime,pozicija,starost,drzava_1,drzava_2,klub,cena,stevilna_cena_eur
0,Lamine Yamal,Right Winger,18,Spain,Equatorial Guinea,FC Barcelona,€200.00m,20000000000
19,Désiré Doué,Right Winger,20,France,Cote d'Ivoire,Paris Saint-Germain,€90.00m,9000000000
26,Pau Cubarsí,Centre-Back,18,Spain,NaN,FC Barcelona,€80.00m,8000000000
27,João Neves,Central Midfield,20,Portugal,NaN,Paris Saint-Germain,€80.00m,8000000000
60,Estêvão,Right Winger,18,Brazil,NaN,Chelsea FC,€60.00m,6000000000
...,...,...,...,...,...,...,...,...
447,Jobe Bellingham,Central Midfield,19,England,Ireland,Borussia Dortmund,€22.00m,2200000000
493,Konstantinos Karetsas,Attacking Midfield,17,Greece,Belgium,KRC Genk,€20.00m,2000000000
494,Facundo Buonanotte,Attacking Midfield,20,Argentina,Italy,Brighton &amp; Hove Albion,€20.00m,2000000000
496,Chris Rigg,Attacking Midfield,18,England,NaN,Sunderland AFC,€20.00m,2000000000
497,Vitor Roque,Centre-Forward,20,Brazil,NaN,Sociedade Esportiva Palmeiras,€20.00m,2000000000

In [35]:
osnovni_podatki[osnovni_podatki.klub == "Juventus FC"]

,ime,pozicija,starost,drzava_1,drzava_2,klub,cena,stevilna_cena_eur
87,Kenan Yıldız,Left Winger,20,Türkiye,Germany,Juventus FC,€50.00m,5000000000
98,Bremer,Centre-Back,28,Brazil,NaN,Juventus FC,€50.00m,5000000000
132,Jonathan David,Centre-Forward,25,Canada,United States,Juventus FC,€45.00m,4500000000
169,Nico González,Right Winger,27,Argentina,Italy,Juventus FC,€24.00m,2400000000
170,Khéphren Thuram,Central Midfield,24,France,Guadeloupe,Juventus FC,€40.00m,4000000000
213,Andrea Cambiaso,Left-Back,25,Italy,NaN,Juventus FC,€35.00m,3500000000
222,Teun Koopmeiners,Attacking Midfield,27,Netherlands,NaN,Juventus FC,€35.00m,3500000000
223,Dušan Vlahović,Centre-Forward,25,Serbia,NaN,Juventus FC,€35.00m,3500000000
287,Douglas Luiz,Central Midfield,27,Brazil,NaN,Juventus FC,€30.00m,3000000000
305,Manuel Locatelli,Defensive Midfield,27,Italy,NaN,Juventus FC,€30.00m,3000000000
321,Pierre Kalulu,Centre-Back,25,France,DR Congo,Juventus FC,€28.00m,2800000000
324,Francisco Conceição,Right Winger,22,Portugal,NaN,Juventus FC,€28.00m,2800000000
427,Federico Gatti,Centre-Back,27,Italy,NaN,Juventus FC,€24.00m,2400000000
484,Weston McKennie,Central Midfield,26,United States,NaN,Juventus FC,€22.00m,2200000000

In [36]:
starost_igralcev = osnovni_podatki[['ime', 'starost']]
starost_igralcev

                    ime  starost
0          Lamine Yamal       18
1       Jude Bellingham       22
2        Erling Haaland       25
3         Kylian Mbappé       26
4       Vinicius Junior       25
..                  ...      ...
494  Facundo Buonanotte       20
495              Wesley       21
496          Chris Rigg       18
497         Vitor Roque       20
498       Thierno Barry       22

[499 rows x 2 columns]

In [37]:
osnovni_podatki.sort_values('starost')

,ime,pozicija,starost,drzava_1,drzava_2,klub,cena,stevilna_cena_eur
311,Ayyoub Bouaddi,Central Midfield,17,France,Morocco,LOSC Lille,€28.00m,2800000000
257,Franco Mastantuono,Right Winger,17,Argentina,Italy,CA River Plate,€30.00m,3000000000
493,Konstantinos Karetsas,Attacking Midfield,17,Greece,Belgium,KRC Genk,€20.00m,2000000000
0,Lamine Yamal,Right Winger,18,Spain,Equatorial Guinea,FC Barcelona,€200.00m,20000000000
75,Ethan Nwaneri,Right Winger,18,England,Nigeria,Arsenal FC,€55.00m,5500000000
...,...,...,...,...,...,...,...,...
234,Marquinhos,Centre-Back,31,Brazil,Portugal,Paris Saint-Germain,€35.00m,3500000000
45,Harry Kane,Centre-Forward,32,England,NaN,Bayern Munich,€75.00m,7500000000
491,Romelu Lukaku,Centre-Forward,32,Belgium,DR Congo,SSC Napoli,€22.00m,2200000000
117,Mohamed Salah,Right Winger,33,Egypt,NaN,Liverpool FC,€50.00m,5000000000
441,Virgil van Dijk,Centre-Back,34,Netherlands,Suriname,Liverpool FC,€23.00m,2300000000

In [38]:
osnovni_podatki.sort_values('starost', ascending=False)

,ime,pozicija,starost,drzava_1,drzava_2,klub,cena,stevilna_cena_eur
441,Virgil van Dijk,Centre-Back,34,Netherlands,Suriname,Liverpool FC,€23.00m,2300000000
117,Mohamed Salah,Right Winger,33,Egypt,NaN,Liverpool FC,€50.00m,5000000000
45,Harry Kane,Centre-Forward,32,England,NaN,Bayern Munich,€75.00m,7500000000
491,Romelu Lukaku,Centre-Forward,32,Belgium,DR Congo,SSC Napoli,€22.00m,2200000000
421,John Stones,Centre-Back,31,England,NaN,Manchester City,€25.00m,2500000000
...,...,...,...,...,...,...,...,...
118,Geovany Quenda,Right Winger,18,Portugal,Guinea-Bissau,Sporting CP,€45.00m,4500000000
496,Chris Rigg,Attacking Midfield,18,England,NaN,Sunderland AFC,€20.00m,2000000000
311,Ayyoub Bouaddi,Central Midfield,17,France,Morocco,LOSC Lille,€28.00m,2800000000
493,Konstantinos Karetsas,Attacking Midfield,17,Greece,Belgium,KRC Genk,€20.00m,2000000000
257,Franco Mastantuono,Right Winger,17,Argentina,Italy,CA River Plate,€30.00m,3000000000

In [39]:
igralci_po_klubu = osnovni_podatki.groupby('klub')

In [40]:
igralci_po_klubu

In [44]:
igralci_po_klubu.ime.sample()

428                  Paul Nebel
54                  Rafael Leão
354              Pietro Comuzzo
200                   Evanilson
123           Maghnes Akliouche
                 ...
361    Konstantinos Koulierakis
269                 Yéremy Pino
395               Edson Álvarez
289        Jørgen Strand Larsen
353               Luiz Henrique
Name: ime, Length: 84, dtype: object